<div class="container">
<h1 class="text-center"> Products </h1>
<div class="d-flex justify-content-end mb-5">
  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Sort by
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><%= link_to "Price: low to high", products_path(sort: "price_low_to_high"), class: "dropdown-item"%></li>
      <li><%= link_to "Price: high to low", products_path(sort: "price_high_to_low"), class: "dropdown-item"%></li>
      <li><%= link_to "Date: old to new", products_path(sort: "date_old_to_new"), class: "dropdown-item"%></li>
      <li><%= link_to "Date: new to old", products_path(sort: "date_new_to_old"), class: "dropdown-item"%></li>
    </ul>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-xl-6 g-4">
  <% @products.each do |product|%>
    <div class="col">
      <div class="card h-100 border-0">
        <%= link_to image_tag( product.image, class: "user_image") , product_path(product), class: "ratio ratio-1x1"%>
        <div class="card-body text-center">
          <div class="card-text">
            <% if product.stock != 0%>
            <div class="text-info bg-dark fw-bold"><%="In Stock"%> </div>
            <% else %>
            <div class="text-warning bg-dark fw-bold"><%="Out of Stock"%> </div>
            <% end %>
            <%= product.name %> <br>
            <%= product.manufacturer %> <br>
            ¥ <%= product.price %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
  <div class="d-flex justify-content-center mt-4">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>