<div class="container">
<h1 class="text-center"> Products </h1>
<div class="row row-cols-1 row-cols-md-4 row-cols-lg-6 g-4">
  <% @products.each do |product|%>
    <div class="col">
      <div class="card h-100 border-0">
        <%= link_to image_tag( product.image, class: "img-fluid") , product_path(product)%>
        <div class="card-body text-center">
          <div class="card-text">
            <% if product.stock != 0%>
            <div class="text-info bg-dark fw-bold"><%="In Stock"%> </div>
            <% else %>
            <div class="text-warning bg-dark fw-bold"><%="Out of Stock"%> </div>
            <% end %>
            <%= product.name %> <br>
            <%= product.manufacturer %> <br>
            ¥ <%= product.price %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
  <div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>