<div class="container">
  <div class="row g-5 justify-content-center">
    <div class="col-10 col-md-6">
      <%= image_tag @product.image, class: "img-fluid" %>
    </div>

    <div class="col-10 col-md-5 mb-4">
      <h1><%= @product.manufacturer%> <%= @product.name%></h1>
      <h2>¥ <%= @product.price%></h2>
      <h4 class="mb-3">
        <% if @product.stock != 0%>
        <span class="fw-bold"><%="In Stock"%> </span>
        <% else %>
        <span class="fw-bold"><%="Out of Stock"%> </span>
        <% end %>
        (<%= @product.stock%>)
      </h4>

      <%= form_with model: @cart_item, url: cart_items_path, class: "col-lg-6" do |f|%>

        <%= f.hidden_field :product_id, value: @product.id%>

        <div class="mb-3 col-3">
          <%= f.label :quantity, class: "form-label" %>
          <%= f.number_field :quantity, min:1, class: "form-control"%>
        </div>

      <div class="d-grid mb-5">
        <% if @product.stock == 0%>
          <%= f.submit "Add Cart", class: "btn btn-secondary disabled"  %>
        <% else %>
          <%= f.submit "Add Cart", class: "btn btn-primary"  %>
        <% end %>
      </div>

      <% end %>

      <p class="text-break"><%= @product.description %></p>
    </div>
  </div>
</div>