<div class="container">
<h2 class="text-center mb-4">Edit product</h2>
<div class="row justify-content-center">
  <div class="col-lg-6">
  <%= form_with model: @product, url: admin_product_path(@product) do |f|%>

    <div class="mb-3">
      <%= f.label :name, class:"form-label" %>
      <%= f.text_field :name, class:"form-control"%>
    </div>

    <div class="mb-3">
      <%= f.label :manufacturer, class: "form-label" %>
      <%= f.text_field :manufacturer, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= f.label :price, class: "form-label" %>
      <%= f.number_field :price, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= f.label :stock, class: "form-label" %>
      <%= f.number_field :stock, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, rows: 4,class: "form-control"%>
    </div>

    <div class="mb-5">
      <%= f.label :image, class: "form-label" %>
      <%= f.file_field :image,class: "form-control"%>
    </div>

  <div class="mb-4 d-grid">
    <%= f.submit "Edit product", class: "btn btn-primary"  %>
  </div>

  <% end %>

  <div class="mb-4 d-grid">
    <%= link_to "Delete", admin_product_path(@product),
                                       data: { "turbo-method": :delete }, class: "btn btn-danger"%>
  </div>
  </div>
</div>
</div>