<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-8">
      <h2 class="mb-3">Shopping cart</h2>
      <% if @total_quantity == 0 %>
      <h4>No item<h4>
      <% else %>
      <% @cart_items.each do |cart_item| %>
        <div class="row border-top border-2 p-4">
          <div class="col-md-2 col-2">
            <%= link_to image_tag(cart_item.product.image, class: "img-fluid"), product_path(cart_item.product) %>
          </div>
          <div class="col">
            <div class="row">
            
              <div class="col-4">
                <div><%= cart_item.product.name %></div>
                <div><%= cart_item.product.manufacturer %></div>
                <div>¥ <%= cart_item.product.price %></div>
              </div>

              <div class="col-4 ms-auto">
                <%= form_with model: cart_item, url: cart_item_path(cart_item), class: "" do |f|%>
                <%= f.hidden_field :product_id, value: cart_item.product_id%>
                  <%# f.label :quantity, class: "col-form-label" %>
                  <%= f.number_field :quantity, min:1, class: "form-control"%>
                  <%= f.submit "Change", class: "btn btn-outline-primary"  %>
                <% end %>
              </div>
              <div class="col-4 ms-auto">
                <%= link_to "delete", cart_item_path(cart_item), data: { "turbo-method": :delete}, class: "btn btn-danger" %>
              </div>

            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>

    <div class="col-md-5 col-lg-4">
      <div class="">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Total</span>
          <span class="badge bg-primary rounded-pill"><%=@total_quantity%></span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Subtotal</h6>
              <small class="text-muted"></small>
            </div>
            <span class="text-muted">¥<%=@total%></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Shipping fee</h6>
              <small class="text-muted">Calculated at check out</small>
            </div>
            <span class="text-muted"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>¥<%=@total%></strong>
          </li>
        </ul>
      </div>
    </div>


  </div>
</div>